/* Master Styles  */


body{
    color: rgb(14, 10, 18);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: none;
    overflow: hidden;
    height: 100%;
    background-color: black;
}
a {
    text-decoration: none;
}
a:link {color: whitesmoke;}
a:visited {color:whitesmoke;}
a:hover {color: rgb(101, 104, 17);}




#Logo {
    font-family: 'Arial Black', Gadget, sans-serif;
    padding-left: 70px;
    padding-top: 40px;
    font-size: 17px;

}

#Title {
    font-family: 'Arial Black', Gadget, sans-serif;
    position:absolute;
    top: 5.5cm;
    font-size: 50px;
    line-height: 0px;
    padding-left: 5cm;
    color: whitesmoke;
}


#Nav {
    position: absolute;
    font-family: 'Arial Black', Gadget, sans-serif;
    top: 40px;
    padding-left: 35cm;
    font-size: 13px;
}




#Logo {
    position: absolute;
    font-family: 'Arial Black', Gadget, sans-serif;
    padding-left: 70px;
    padding-top: 40px;
    font-size: 17px;
}


#Right_Edge{
    border-color: black;
    border-width: 3px;
    
}

#blowing_candles {
    position: absolute;
    top: 10cm;
    width: 350px;
    height: 350px;
    margin-left: 190px;
    border-radius: 50px;
}

#kill_the_tentacles {
    position: absolute;
    top: 10cm;
    width: 350px;
    height: 350px;
    margin-left: 620px;
    border-radius: 50px;
}

#king_kongs_death {
    position: absolute;
    top: 10cm;
    width: 350px;
    height: 350px;
    margin-left: 1050px;
    border-radius: 50px;
}

#descriptions {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

#bc_txt {
    position: absolute;
    top: 20cm;
    left: 310px;
}

#ktt_txt {
    position: absolute;
    top: 20cm;
    left: 740px;
}

#kkd_txt {
    position: absolute;
    top: 20cm;
    left: 1170px;
}