/* Master Styles  */


body{
    color: rgb(14, 10, 18);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: none;
    overflow: hidden;
    height: 100%;
}
a {
    text-decoration: none;
}
a:link {color: black;}
a:visited {color: black;}
a:hover {color: rgb(101, 104, 17);}




#Logo {
    font-family: 'Arial Black', Gadget, sans-serif;
    padding-left: 70px;
    padding-top: 40px;
    font-size: 17px;
}

#Title {
    font-family: 'Arial Black', Gadget, sans-serif;
    position:absolute;
    top: 7cm;
    font-size: 80px;
    line-height: 0px;
    padding-left: 5cm;
}

#Name {
    position: absolute;
    top: 12cm;
    padding-left: 5.2cm;
    font-size: 13px;
    
}

#Nav {
    position: absolute;
    font-family: 'Arial Black', Gadget, sans-serif;
    top: 14cm;
    padding-left: 12cm;
    font-size: 13px;
}

#Portrait {
    position: absolute;
    top: 3cm;
    width: 416px;
    height: 624px;
    margin-left: 25cm;
    border-radius: 50px;
}

#Right_Edge{
    border-color: black;
    border-width: 3px;
    
}